<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Comparison</title>
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="images/favicon.png" />
<link rel='stylesheet' id='config-css' href='css/ts-config.css'
	type='text/css' media='all' />
<link rel='stylesheet' id='mailchimp-checkbox-css'
	href='css/checkbox.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome.min-css'
	href='css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='jquery.flipcountdown-css'
	href='css/jquery.flipcountdown.css' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-ui-css' href='css/jquery-ui.css'
	type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap.min-css'
	href='css/bootstrap.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='owl.carousel-css' href='css/owl.carousel.css'
	type='text/css' media='all' />
<link rel='stylesheet' id='easy-responsive-tabs-css'
	href='css/easy-responsive-tabs.css' type='text/css' media='all' />
<link rel='stylesheet' id='jquery.circliful-css'
	href='css/jquery.circliful.css' type='text/css' media='all' />
<link rel='stylesheet' id='cubeportfolio.min-css'
	href='css/cubeportfolio.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='megamenu-css' href='css/megamenu.css'
	type='text/css' media='all' />
<link rel='stylesheet' id='styles-css' href='css/styles.css'
	type='text/css' media='all' />
<link rel="stylesheet" id="custom-css" href="css/mobile.css"
	type="text/css" media="all" />
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/vc-ie8.css" media="screen"><![endif]-->
<link rel='stylesheet' href='css/layout.css' type='text/css' media='all' />
<link rel='stylesheet' id='redux-google-fonts-css'
	href='http://fonts.googleapis.com/css?family=Roboto%3A300%2C500%2C400%2C100&038;ver=1428634381'
	type='text/css' media='all' />
<script type="text/javascript"></script>
<script type="text/javascript" src="compare.js"></script>
<script type="text/javascript" src="rates.js"></script>
<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="nmis.js"></script>
<script type="text/javascript" src="postcodes.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>


</script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
	
</script>

</head>

<body>
	<!--Wrapper-->
	<div id="wrapper">
		<!-- Start header -->
		<header>
			<div class="top-header">
				<div class="container">
					<div class="row">
						<div class="top-social col-sm-4">
							<div class="social-top">
								<ul class="social">
									<li class="bounceIn animated"><a target="_blank"
										href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
									<li class="bounceIn animated"><a target="_blank"
										href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
									<li class="bounceIn animated"><a target="_blank"
										href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
									<li class="bounceIn animated"><a target="_blank"
										href="http://skype.com"><i class="fa fa-skype"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="top-info col-sm-8 pull-right">
							<div id="flags_language_selector"></div>
							<ul>
								<li><a href=""><i class="fa fa-exclamation-circle"></i>Support</a></li>
								<li><a href=""><i class="fa fa-envelope"></i>Email Us</a></li>
								<li><a href=""><i class="fa fa-phone"></i>1300</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--  <a class="toggle-bar-btn fade-toggle hidden-phone" href=""><span class="ts-infobar infobar-up"></span></a>
			-->
			<div class="main-header">
				<div class="container">
					<div class="logo">
						<h1>
							<a href="index.html" class="ariva_logo"><img
								src="images/logo.png" alt="BizCompare"></a>
						</h1>
					</div>
					<a href="" class="mobile-navigation"><i class="fa fa-bars"></i></a>
					<div class="pull-right ts-mainmenu">
						<nav class="main-menu nav-menu">
							<ul id="menu-main-menu"
								class="menu-nav list-inline ts-response-simple ts-response-stack ts-effect-slide-top">
								<li
									class="menu-item  current-menu-parent menu-item-has-children  dropdown">
									<a title="Electricity" href="electricity.html"
									class="dropdown-toggle" aria-haspopup="true">Electricity</a> <!-- <ul role="menu" class=" dropdown-menu">
										<li class="menu-item current-menu-item page_item  active"><a title="Home Version 1" href="index.html"><i class="fa fa-pagelines"></i>Home Version 1</a></li>
										<li class="menu-item"><a title="Home Version 2" href="homepage2.html"><i class="fa fa-bug"></i>Home Version 2</a></li>
										<li  class="menu-item"><a title="Home Version 3" href="homepage3.html"><i class="fa fa-rocket"></i>Home Version 3</a></li>
										<li  class="menu-item"><a title="Home Version 4" href="homepage4.html"><i class="fa fa-tree"></i>Home Version 4</a></li>
										<li  class="menu-item"><a title="Home Version 5" href="homepage5.html"><i class="fa fa-leaf"></i>Home Version 5</a></li>
										<li  class="menu-item"><a title="Home corporate" href="homepage6.html"><i class="fa fa-suitcase"></i>Home corporate</a></li>
										<li  class="menu-item"><a title="Home Version 6 (New)" href="1791-2.html"><i class="fa fa-institution"></i>Home Version 6 (New)</a></li>
										<li  class="menu-item" ><a title="Home Version 7 (New)" href="homepage10.html"><i class="fa fa-sun-o"></i>Home Version 7 (New)</a></li>
										<li  class="menu-item" ><a title="Home Version 8 (New)" href="homeversion11.html"><i class="fa fa-tachometer"></i>Home Version 8 (New)</a></li>
									</ul> -->
								</li>
								<li class="menu-item  menu-item-has-children  dropdown"><a
									title="Gas" href="" class="dropdown-toggle">Gas</a> <!--<ul role="menu" class="dropdown-menu">
										<li class="menu-item "><a title="About us" href="about.html"><i class="fa fa-users"></i>About us</a></li>
										<li class="menu-item "><a title="Services" href="services-2.html"><i class="fa fa-codepen"></i>Services</a></li>
										<li class="menu-item "><a title="Teams" href="teams.html"><i class="fa fa-female"></i>Teams</a></li>
										<li class="menu-item "><a title="Pricing table" href="pricing-table.html"><i class="fa fa-bar-chart-o"></i>Pricing table</a></li>
										<li class="menu-item "><a title="F.A.Q page" href="faq.html"><i class="fa fa-info-circle"></i>F.A.Q page</a></li>
										<li class="menu-item "><a title="Contact us" href="contact.html"><i class="fa fa-paper-plane-o"></i>Contact us</a></li>
									</ul>--></li>
								<li class="menu-item menu-item-has-children dropdown"><a
									title="Insurance" href="" class="dropdown-toggle">Insurance</a>
									<!--  <ul role="menu" class=" dropdown-menu">
										<li class="menu-item"><a title="Typography" href="shortcodes.html">Typography</a></li>
										<li class="menu-item"><a title="Tabs and Toggles" href="tabs-and-toggles.html">Tabs and Toggles</a></li>
										<li class="menu-item"><a title="Content box" href="content-box.html">Content box</a></li>
										<li class="menu-item"><a title="Dividers" href="dividers.html">Dividers</a></li>
										<li class="menu-item"><a title="Counters" href="counters.html">Counters</a></li>
										<li class="menu-item"><a title="Notifications" href="notifications.html">Notifications</a></li>
										<li class="menu-item "><a title="Buttons" href="buttons.html">Buttons</a></li>
										<li class="menu-item"><a title="Columns" href="columns.html">Columns</a></li>
										<li class="menu-item "><a title="Icons &amp; social" href="social.html">Icons &038; social</a></li>
										<li class="menu-item"><a title="Promotional banner" href="promotional-banner.html">Promotional banner</a></li>
									</ul>--></li>
								<li class="menu-item menu-item-has-children dropdown"><a
									title="Hot Deals" href="" class="dropdown-toggle">Hot Deals</a>
									<!--<ul role="menu" class="dropdown-menu">
										<li class="menu-item"><a title="WHMCS-bridge" href="whmcs-bridge.html">WHMCS-bridge</a></li>
										<li class="menu-item"><a title="WHMCS Knowledgebase Page" href="knowledgebase.html">WHMCS Knowledgebase Page</a></li>
										<li class="menu-item"><a title="WHMCS Domain Page" href="">WHMCS Domain Page</a></li>
										<li class="menu-item"><a title="WHMCS Billing Page" href="">WHMCS Billing Page</a></li>
										<li class="menu-item"><a title="WHMCS Announcements Page" href="">WHMCS Announcements Page</a></li>
										<li class="menu-item"><a title="WHMCS Support Page" href="">WHMCS Support Page</a></li>
									</ul>--></li>
								<li class="menu-item megamenu-item"><a title="Rewards"
									href="">Rewards</a> <!-- <ul class="dropdown-menu">
										<li>
											<div class="megamenu-content ">													
												<div class="col-sm-3">
													<div class="ts_single_image">
														<img width="282" height="300" src="images/Server-982x10242-282x300.png" class="single_image-img " alt="Server-982x10242" />
													</div> 
												</div> 
												<div class="col-sm-3">
													<h2 class="widgettitle">Layout Features</h2>
													<div class="menu-layout-features-container">
														<ul id="menu-layout-features" class="menu">
															<li class="menu-item"><a title="Fully Responsive Design" href="fully-responsive-design.html"><i class="fa fa-desktop"></i>Fully Responsive Design</a></li>
															<li class="menu-item"><a title="Parallax Image, Video" href=""><i class="fa fa-sort"></i>Parallax Image, Video</a></li>
															<li class="menu-item"><a title="Megamenu with drag, drop" href=""><i class="fa fa-align-justify"></i>Megamenu with drag, drop</a></li>
															<li class="menu-item"><a title="Unlimited Color Skins" href=""><i class="fa fa-eyedropper"></i>Unlimited Color Skins</a></li>
															<li class="menu-item"><a title="Cross-Browser Compatible" href=""><i class="fa fa-globe"></i>Cross-Browser Compatible</a></li>
															<li class="menu-item"><a title="Design with UX Optimization" href=""><i class="fa fa-crop"></i>Design with UX Optimization</a></li>
														</ul>
													</div>
												</div> 
												<div class="col-sm-3">
													<h2 class="widgettitle">Function Features</h2>
													<div class="menu-function-features-container">
														<ul id="menu-function-features" class="menu">
															<li class="menu-item"><a title="Visual Composer Drag &amp;Drop" href=""><i class="fa fa-align-left"></i>Visual Composer Drag &038;Drop</a></li>
															<li  class="menu-item"><a title="SEO Friendly with  Yoast" href=""><i class="fa fa-lightbulb-o"></i>SEO Friendly with  Yoast</a></li>
															<li  class="menu-item"><a title="Mailchimp Support" href=""><i class="fa fa-envelope-o"></i>Mailchimp Support</a></li>
															<li class="menu-item"><a title="Revolution Slider Sliders" href=""><i class="fa fa-eye"></i>Revolution Slider Sliders</a></li>
															<li class="menu-item"><a title="Translation Ready" href=""><i class="fa fa-font"></i>Translation Ready</a></li>
															<li  class="menu-item"><a title="Premium Support &amp; Updates" href=""><i class="fa fa-life-saver"></i>Premium Support &038; Updates</a></li>
														</ul>
													</div>
												</div> 
												<div class="col-sm-3">
													<h2 class="widgettitle">Portfolio Pages</h2>
													<div class="menu-portfolios-pages-container">
														<ul id="menu-portfolios-pages" class="menu">
															<li class="menu-item"><a title="Portfolio 2 columns" href="portfolio-2-columns.html"><i class="fa fa-chevron-right"></i>Portfolio 2 columns</a></li>
															<li class="menu-item"><a title="Portfolio 3 Columns" href="portfolio-3-columns.html"><i class="fa fa-chevron-right"></i>Portfolio 3 Columns</a></li>
															<li class="menu-item"><a title="Portfolio 4 Columns" href="portfolio-4-columns.html"><i class="fa fa-chevron-right"></i>Portfolio 4 Columns</a></li>
															<li class="menu-item"><a title="Portfolio Sidebar" href="portfolio-sidebar.html"><i class="fa fa-chevron-right"></i>Portfolio Sidebar</a></li>
															<li class="menu-item"><a title="Portfolio Full Width" href="portfolio-full-width.html"><i class="fa fa-chevron-right"></i>Portfolio Full Width</a></li>
															<li class="menu-item menu-item-object-portfolio "><a title="Portfolio Single Page" href="web-design.html"><i class="fa fa-chevron-right"></i>Portfolio Single Page</a></li>
														</ul>
													</div>
												</div> 
											</div>
										</li>
									</ul>--></li>
								<li class="menu-item  menu-item-has-children  dropdown"><a
									title="Contact Us" href="">Contact Us</a> <!--<ul role="menu" class=" dropdown-menu">
										<li  class="menu-item"><a title="Shop" href="shop.html">Shop</a></li>
										<li class="menu-item "><a title="Cart" href="cart.html">Cart</a></li>
										<li class="menu-item "><a title="Checkout" href="checkout.html">Checkout</a></li>
										<li class="menu-item "><a title="My Account" href="my-account.html">My Account</a></li>
									</ul>--></li>


							</ul>
							<div class="navbar-form">
								<a href="" class="ts-bt bt-login"><i class="fa fa-user"></i>Compare
									now</a>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!-- End header -->


		<!-- content -->
		<div id="container_full">
			<div class="ts-pricing-table-new parallax-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12  ">
							<div class="ts-wrapper" ng-app="myApp">
								<div class="ts-section-title text-center" ng-controller="myCtrl">
									<h3 id="plansid">{{plans}} Available Plans</h3>
									<p>Each type of hosting service we provide is further
										optimized with unique performance tweaks!</p>
								</div>
								<div class="row">
									<div class="col-sm-12  ">
										<div class="ts-wrapper">
											<div class="ts-pricingtable-5" ng-app="myApp"
												ng-controller="myCtrl">
												<table  >
													<tr class="section-info">
														<td class="ts-pricing-img"><figure>
																<img alt="" src="">
															</figure></td>
														<td ng-repeat="key in jsonbody.Rates" >
															<div class="ts-pricing-item alltable"  ng-class='{reccomended:$first}'>
																<div ng-class='{rec:$first}' class="rectest"></div>
																<span class="price-icon"><i class="fa fa-navicon"></i></span>
																<h3 class="price-title">{{key.Company}}</h3>
																<div class="price-unit-vat">
																	<div class="price-unit">
																		<span class="price">.</span> <span class="unit">99
																			/ <span class="per-month">9m</span>
																		</span>
																	</div>
																	<p>
																		<h4>SAVINGS</h4> (ex GST) 
																	</p>
																</div>
																<div class="desc">{{key.Description}}</div>
																<a href="#" class="ts-bt-pricing">Know More</a>
															</div>
														</td>
													</tr>


													<tr class="hidden-xs list-feature">
														<td ><span class="inner-td "><h3>{{rate}}</h3></span></td>
														<td ng-repeat="key in jsonbody.Rates" ><div class="alltable" ng-class='{reccomended:$first}'><span 
															class="inner-td ">Peak :{{key.Peak1}}</span> <span
															class="inner-td ">Peak Balance :{{key.Peak2}}</span> <span
															class="inner-td ">Supply Charge :{{key.Supply}}</span></div></td>
													</tr>
													<tr class="hidden-xs">
														<td colspan="100" class="title-feature"></td>
													</tr>
													<tr class="hidden-xs list-feature">
														<td><span class="inner-td "><h5>{{exitfee}}</h5></span></td>
														<td ng-repeat="key in jsonbody.Rates"><div  class="alltable" ng-class='{reccomended:$first}'><span
															class="inner-td ts-icon-close"><i
																class="fa fa-close"></i></span></div></td>
													</tr>
													<tr class="hidden-xs list-feature">
														<td><span class="inner-td "><h5>{{discount}}</h5></span></td>
														<td ng-repeat="key in jsonbody.Rates"><div class="alltable" ng-class='{reccomended:$first}'><span
															class="inner-td ts-icon-check"><i
																class="fa fa-check"></i></span></div></td>
													</tr>


											<!-- 		<tr class="pricing-footer hidden-xs">
														<td></td>
														<td ng-repeat="key in jsonbody.Rates">
															<div class="ts-footer-price" <div ng-class='{reccomended:$first}'>>
																<div class="price-unit">
																	<span class="price">$2.</span> <span class="unit">99/9m</span>
																</div>
																<p>
																	ex VAT<br /> (Charged at 20%)
																</p>
																<a href="#" class="ts-bt-pricing">BUY NOW</a>
															</div>
														</td>

													</tr> -->
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Start Bottom contact -->
			<div class="ts-section-top-footer">
				<div class="ts-top-footer">
					<div class="container">
						<div class="row">
							<div
								class="col-lg-4 col-md-4 col-sm-4 ts-contact-email-info contact-info">
								<span><i class="fa fa-envelope-o"></i></span> <a
									href="mailto:support@alaska.com">Email us</a>
							</div>
							<div
								class="col-lg-4 col-md-4 col-sm-4 ts-contact-phone-info contact-info">
								<span><i class="fa fa-phone"></i></span>
								<p>1-1800-123-6789</p>
							</div>
							<div
								class="col-lg-4 col-md-4 col-sm-4 ts-contact-livechat-info contact-info">
								<span><i class="fa fa-comment-o"></i></span> <a
									href="javascript:$zopim.livechat.window.show()">Live chat
									with us</a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- End Bottom contact -->

			<!-- Start footer -->
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="ts-company-info ">
								<h3 class="title">About company</h3>
								<p>Progressively conceptualize frictionless web-readiness
									without standardized e-commerce. Quickly incubate ubiquitous
									infomediaries after maintainable</p>
								<p>
									<span>A : PO Box 16122 Collins Street West Victoria 8007
										Australia</span>
								</p>
								<p>
									<span>E : </span><a href="mailto:no-replay@envato.com">no-replay@envato.com</a>
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="nav_menu-1 nav_menu">
								<h3 class="title">Support &amp; help</h3>
								<div class="menu-support-help-container">
									<ul id="menu-support-help" class="menu">
										<li class="menu-item"><a title="Support Home" href="">Support
												Home</a></li>
										<li class="menu-item"><a title="Knowledge Center" href="">Knowledge
												Center</a></li>
										<li class="menu-item"><a title="Rackspace Community"
											href="">Rackspace Community</a></li>
										<li class="menu-item"><a title="API Documentation"
											href="">API Documentation</a></li>
										<li class="menu-item"><a title="Developer Center" href="">Developer
												Center</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="nav_menu-2 nav_menu">
								<h3 class="title">Control panel</h3>
								<div class="menu-control-panel-container">
									<ul id="menu-control-panel" class="menu">
										<li class="menu-item"><a title="Get Support" href="">Get
												Support</a></li>
										<li class="menu-item"><a title="Premium Hosting" href="">Premium
												Hosting</a></li>
										<li class="menu-item"><a title="Auto Install Scripts"
											href="">Auto Install Scripts</a></li>
										<li class="menu-item"><a title="Service Status" href="">Service
												Status</a></li>
										<li class="menu-item"><a title="Contact Us" href="">Contact
												Us</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 last">
							<div class="subscribe-form">
								<h3 class="title">Subscribe newsletter</h3>
								<!-- Form by MailChimp for WordPress plugin v2.2.8 - https://mc4wp.com/ -->
								<div class="form mc4wp-form">
									<form method="post">
										<p>Subscribe to our email newsletter for useful tips and
											valuable resources.</p>
										<div class="form-group">
											<div class="input-group">
												<input required="required"
													placeholder="Your email address..." name="EMAIL"
													type="email"> <span class="input-group-button">
													<input value="GO" type="submit">
												</span>
											</div>
										</div>
									</form>
								</div>
								<!-- / MailChimp for WP Plugin -->
							</div>
							<div class="ts_alaska_follow_us-1  TS_ALASKA_Follow_us">
								<div class="ts-social-footer ">
									<h3 class="title">Follow us</h3>
									<a href="" target="_blank"><span><i
											class="fa fa-twitter"></i></span></a> <a href="" target="_blank"><span><i
											class="fa fa-facebook"></i></span></a> <a href="" target="_blank"><span><i
											class="fa fa-google-plus"></i></span></a> <a href="" target="_blank"><span><i
											class="fa fa-youtube"></i></span></a> <a href="" target="_blank"><span><i
											class="fa fa-vine"></i></span></a> <a href="" target="_blank"><span><i
											class="fa fa-behance"></i></span></a> <a href="" target="_blank"><span><i
											class="fa fa-dribbble"></i></span></a> <a href="" target="_blank"><span><i
											class="fa fa-tumblr"></i></span></a>
								</div>

								<!-- social_footer -->
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer -->

			<!-- Start copyright -->
			<div class="ts-copy-right">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4">
							<p>© 2014 Alaska Hosting. All rights reserved.</p>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8">
							<div class="ts-menu-footer">
								<nav>
									<ul>
										<li><a href="">Home</a></li>
										<li><a href="">About</a></li>
										<li><a href="">promotions</a></li>
										<li><a href="">services</a></li>
										<li><a href="">contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End copyright -->

			<!-- Start popup -->
			<div class="clr toggle-bar-fade hidden-xs" id="toggle-bar-wrap">
				<div class="clr container" id="toggle-bar">
					<div class="container">
						<div class="col-sm-6  ">
							<h4>Welcome Alaska</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry is
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
							<div class="vcex-spacing"></div>
							<div>
								<h4>Get In Touch</h4>
							</div>

							<div class="vcex-list_item">
								<span class="fa fa-map-marker"></span>PO Box 16122 Collins
								Street West Victoria 8007 Australia
							</div>
							<!-- .vcex-list_item -->

							<div class="vcex-list_item">
								<span class="fa fa-envelope-o"></span>no-replay@envato.com
							</div>
							<!-- .vcex-list_item -->

							<div class="vcex-list_item">
								<span class="fa fa-phone"></span>(123) 222 5555
							</div>
							<!-- .vcex-list_item -->

							<div class="vcex-list_item">
								<span class="fa fa-fax"></span>084 (123) 456-7890
							</div>
							<!-- .vcex-list_item -->

						</div>
						<div class="col-sm-6 ">
							<h4>Our Location</h4>
							<div>
								<img width="468" height="263" alt="togglebar-map"
									src="images/map.png">
							</div>
							<!-- .ts_single_image -->
						</div>
					</div>
					<!-- .entry -->
				</div>
				<!-- toggle-bar -->
			</div>
			<!-- End popup -->
		</div>
		<!-- End / Page wrap -->
		<script  type="text/javascript">
		
		</script>
		<script type="text/javascript" src="compare.js"></script>
		<script type='text/javascript' src='js/jquery.js'></script>
		<script type='text/javascript' src='js/jquery-ui.js'></script>
		<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
		<script type='text/javascript' src='js/jquery.themepunch.tools.min.js'></script>
		<script type='text/javascript'
			src='js/jquery.themepunch.revolution.min.js'></script>
		<script type="text/javascript" src="js/slideshow-homepage.js"></script>
		<script type='text/javascript' src='js/loading.js'></script>
		<script type='text/javascript' src='js/accordion.js'></script>
		<script type='text/javascript' src='js/lasted-blog-slide.js'></script>
		<script type='text/javascript' src='js/comment-reply.min.js'></script>
		<script type='text/javascript' src='js/jquery.form.min.js'></script>
		<script type='text/javascript' src='js/scripts.js'></script>
		<script type='text/javascript' src='js/jquery.blockUI.min.js'></script>
		<script type='text/javascript' src='js/retina.min.js'></script>
		<script type='text/javascript' src='js/bootstrap.min.js'></script>
		<script type='text/javascript' src='js/jquery.appear.min.js'></script>
		<script type='text/javascript' src='js/jquery.countTo.js'></script>
		<script type='text/javascript' src='js/jquery.countdown.js'></script>
		<script type='text/javascript' src='js/jquery.fitvids.js'></script>
		<script type='text/javascript' src='js/readmore.js'></script>
		<script type='text/javascript' src='js/subscribre.js'></script>
		<script type='text/javascript' src='js/jquery.validate.min.js'></script>
		<script type='text/javascript' src='js/jquery.owl.carousel.js'></script>
		<script type='text/javascript' src='js/easyResponsiveTabs.js?'></script>
		<script type='text/javascript' src='js/jquery.circliful.min.js'></script>
		<script type='text/javascript' src='js/jquery.sticky.js'></script>
		<script type='text/javascript' src='js/jquery.cubeportfolio.min.js'></script>
		<script type='text/javascript' src='js/portfolio.js'></script>
		<script type='text/javascript' src='js/chosen.jquery.min.js'></script>
		<script type='text/javascript' src='js/custom.js'></script>
		<script type='text/javascript' src='js/accordion.min.js'></script>
</body>
</html>